<div class="container ">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <h3>Registrarse</h3>
                <br>
                <form [formGroup]="register" (ngSubmit)="registrarUsuario()">
                    <div class="form-group ml-2" style="text-align: start;">
                        <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                        <span class="text-danger " *ngIf="register.get('usuario')?.hasError('required') && register.get('usuario')?.touched" >
                            El usuario <strong>es requerido</strong>
                        </span>
                   </div>
                   <div class="form-group mt-2" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                           <span class="text-danger " *ngIf="register.get('password')?.hasError('required') && register.get('password')?.touched" >
                            El password <strong>es requerido</strong>
                        </span>
                   </div>
                    <div class="form-group mt-2" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Repetir Password" formControlName="confirmPassword">
                            <span class="text-danger " *ngIf="register.get('password')?.hasError('minLength') && register.get('password')?.touched" >
                            El password debe tener como minimo 4 caracteres. <strong>es requerido</strong>
                        </span>
                   </div>
                      <div class="form-group mt-2 mb-4  ">
                            <button class="btn btn-primary  btn-lg btn-login" type="submit" >Aceptar</button>
                            &nbsp;
                            <button class="btn btn-secondary btn-lg" routerLink="/bienvenidos">Volver</button>
                        </div>
         
                </form>
            </div>
        </div>
    </div>
</div>