<div class="row">
    <div class="col-lg-6 offset-lg-3">
    
    <h3 class="text-center">
        Cambiar Contraseña
    </h3>
    <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
        <input type="password" class="form-control mb-2" placeholder="Contraseña Anterior"     formControlName="passwordAnterior">
        <span class="text-danger"   *ngIf="cambiarPassword.get('passwordAnterior')!.hasError('required') && cambiarPassword.get('passwordAnterior')!.touched" >La contraseña <strong>es requerida 
        </strong>
        </span>

        <div class="form-Group">
        <input type="password" class="form-control mb-2" placeholder="Nueva Contraseña" formControlName="nuevaPassword">
         <span class="text-danger"   *ngIf="cambiarPassword.get('passwordAnterior')?.hasError('required') && cambiarPassword.get('passwordAnterior')?.touched" >La nueva  contraseña <strong>es requerida </strong> </span>
         <span class="text-danger" *ngIf="cambiarPassword.get('nuevaPassword')!.hasError('minlength') " >La nueva contraseña debe tener como  <strong>minimo 4 caracteres</strong></span>
        </div>
   
         <div class="form-group">
            <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName="confirmPassword">
             <span class="text-danger" *ngIf="cambiarPassword.hasError('notSame') ">contraseñas <strong>distintas</strong></span>
        </div>

        <div class="col text-center ">
            <button class="btn btn-primary  btn-acep" [disabled]="cambiarPassword.invalid">Aceptar</button>
             <button class="btn btn-secondary" routerLink="../" >Volver</button>
        </div>
    </form>
    </div>
</div>